@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  background: none;
}

/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: #255950 #FEFAF3;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #FEFAF3;
}

*::-webkit-scrollbar-thumb {
  background-color: #ebe9e9;
  border-radius: 20px;
}

@font-face {
  font-family: 'Futhark';
  src: url("../assets/futhark.ttf");
  format: 'truetype';
}

html {
  font-size: 16px;
}

@media screen and (min-width: 500px) {
  html {
    font-size: calc(16px + 64 * ((100vw - 500px) / 700));
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 80px;
  }
}

body {
  background: #255950;
  min-width: 500px;
  min-height: 800px;
  overflow: hidden;
}

.mainAppWrapper {
  height: 100vh;
}

.greetingContentWrapper {
  height: 20vh;
  margin-top: 53vh;
  margin-bottom: 60vh;
  padding-top: 2.5vh;
}

.centeredCallout {
  text-align: center;
  height: 15vh;
  width: 60vw;
  width: min-content;
  margin: 0 auto;
  padding-bottom: 2vh;
}

.centeredCallout h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #FEFAF3;
  white-space: nowrap;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.centeredCallout h1 {
  font-size: 40px;
}

@media screen and (min-width: 500px) {
  .centeredCallout h1 {
    font-size: calc(40px + 50 * ((100vw - 500px) / 700));
  }
}

@media screen and (min-width: 1200px) {
  .centeredCallout h1 {
    font-size: 90px;
  }
}

.centeredButtonContainer {
  height: 2vh;
  display: flex;
  text-align: center;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.mainComponentWrapper {
  height: 100vh;
  font-size: 16px;
}

.symbolSelectWrapper {
  height: 54vh;
  width: 100%;
  padding: 2vh 0;
  display: flex;
}

.symbolSelectWrapper .symbolSelectContainer {
  width: 30vw;
  height: 50vh;
  margin-left: 2vw;
  text-align: center;
}

.symbolSelectWrapper .symbolSelectContainer h3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #FEFAF3;
}

.symbolSelectWrapper .symbolSelectContainer h3 {
  font-size: 20px;
}

@media screen and (min-width: 500px) {
  .symbolSelectWrapper .symbolSelectContainer h3 {
    font-size: calc(20px + 10 * ((100vw - 500px) / 700));
  }
}

@media screen and (min-width: 1200px) {
  .symbolSelectWrapper .symbolSelectContainer h3 {
    font-size: 30px;
  }
}

.symbolSelectWrapper .symbolSelectContainer .drawButton {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #FEFAF3;
  background: none;
  border: none;
  cursor: pointer;
  width: 10vw;
  position: relative;
  top: 40vh;
}

.symbolSelectWrapper .symbolSelectContainer .drawButton {
  font-size: 20px;
}

@media screen and (min-width: 500px) {
  .symbolSelectWrapper .symbolSelectContainer .drawButton {
    font-size: calc(20px + 10 * ((100vw - 500px) / 700));
  }
}

@media screen and (min-width: 1200px) {
  .symbolSelectWrapper .symbolSelectContainer .drawButton {
    font-size: 30px;
  }
}

.selectableRuneWrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  height: 50vh;
  padding: 5vh 3vw 2vh 4vw;
}

.selectableRuneWrapper .selectableRune {
  font-family: 'Futhark';
  color: #FEFAF3;
  width: 20%;
  height: 12%;
  margin-left: 5px;
  margin-bottom: 15px;
  cursor: pointer;
}

.selectableRuneWrapper .selectableRune {
  font-size: 40px;
}

@media screen and (min-width: 500px) {
  .selectableRuneWrapper .selectableRune {
    font-size: calc(40px + 10 * ((100vw - 500px) / 700));
  }
}

@media screen and (min-width: 1200px) {
  .selectableRuneWrapper .selectableRune {
    font-size: 50px;
  }
}

.runeImage {
  font-family: 'Futhark';
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FEFAF3;
  padding-top: 30%;
}

.runeImage {
  font-size: 150px;
}

@media screen and (min-width: 500px) {
  .runeImage {
    font-size: calc(150px + 150 * ((100vw - 500px) / 700));
  }
}

@media screen and (min-width: 1200px) {
  .runeImage {
    font-size: 300px;
  }
}

.runeImageButton {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #FEFAF3;
  background: none;
  border: none;
  cursor: pointer;
  margin: 20px 5px;
}

.runeImageButton {
  font-size: 16px;
}

@media screen and (min-width: 500px) {
  .runeImageButton {
    font-size: calc(16px + 4 * ((100vw - 500px) / 700));
  }
}

@media screen and (min-width: 1200px) {
  .runeImageButton {
    font-size: 20px;
  }
}

.runeReversed {
  transform: rotate(180deg);
  padding-top: 0;
  padding-bottom: 30%;
}

.panelContainer {
  height: 36vh;
  margin-bottom: 2vh;
  background-color: #FEFAF3;
}

.infoPanelWrapper {
  height: 100vh;
  padding: 2vh 0;
  display: flex;
}

.infoPanelWrapper .selectPanel {
  width: 30vw;
  height: 32vh;
  margin-left: 2vw;
  padding-top: 10vh;
  text-align: center;
}

.infoPanelWrapper .selectPanel h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #255950;
  white-space: nowrap;
}

.infoPanelWrapper .selectPanel h1 {
  font-size: 25px;
}

@media screen and (min-width: 500px) {
  .infoPanelWrapper .selectPanel h1 {
    font-size: calc(25px + 25 * ((100vw - 500px) / 700));
  }
}

@media screen and (min-width: 1200px) {
  .infoPanelWrapper .selectPanel h1 {
    font-size: 50px;
  }
}

.infoPanelWrapper .selectPanel h3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  color: #255950;
  white-space: nowrap;
}

.infoPanelWrapper .selectPanel h3 {
  font-size: 16px;
}

@media screen and (min-width: 500px) {
  .infoPanelWrapper .selectPanel h3 {
    font-size: calc(16px + 14 * ((100vw - 500px) / 700));
  }
}

@media screen and (min-width: 1200px) {
  .infoPanelWrapper .selectPanel h3 {
    font-size: 30px;
  }
}

.infoPanel {
  display: flex;
  width: 30vw;
  height: 32vh;
  margin-left: 2vw;
}

.infoPanel .symbolDisplay {
  height: 100%;
  width: 3vw;
  padding: 10px 10px 20px 0;
}

.infoPanel .symbolInfo {
  overflow: auto;
  width: 27vw;
  padding: 0 1vw;
  font-family: 'Barlow Condensed', sans-serif;
  color: #255950;
  border-left: 2px solid #255950;
}

.infoPanel .symbolInfo h1 {
  text-transform: uppercase;
  padding-bottom: 2vh;
}

.infoPanel .symbolInfo h1 {
  font-size: 40px;
}

@media screen and (min-width: 500px) {
  .infoPanel .symbolInfo h1 {
    font-size: calc(40px + 15 * ((100vw - 500px) / 700));
  }
}

@media screen and (min-width: 1200px) {
  .infoPanel .symbolInfo h1 {
    font-size: 55px;
  }
}

.infoPanel .symbolInfo h3 {
  font-weight: 300;
  text-transform: uppercase;
}

.infoPanel .symbolInfo p {
  font-size: 15px;
}

@media screen and (min-width: 500px) {
  .infoPanel .symbolInfo p {
    font-size: calc(15px + 5 * ((100vw - 500px) / 700));
  }
}

@media screen and (min-width: 1200px) {
  .infoPanel .symbolInfo p {
    font-size: 20px;
  }
}

.infoPanel .runeImage {
  color: #255950;
  padding: 0;
}

.infoPanel .runeImage {
  font-size: 50px;
}

@media screen and (min-width: 500px) {
  .infoPanel .runeImage {
    font-size: calc(50px + 30 * ((100vw - 500px) / 700));
  }
}

@media screen and (min-width: 1200px) {
  .infoPanel .runeImage {
    font-size: 80px;
  }
}

.centeredButton {
  font-family: 'Barlow Condensed';
  font-weight: 600;
  text-transform: uppercase;
  color: #FEFAF3;
  text-decoration: none;
  outline: none;
}

.centeredButton {
  font-size: 20px;
}

@media screen and (min-width: 500px) {
  .centeredButton {
    font-size: calc(20px + 30 * ((100vw - 500px) / 700));
  }
}

@media screen and (min-width: 1200px) {
  .centeredButton {
    font-size: 50px;
  }
}

.multiButton {
  margin-left: 50px;
}

.inputPanel {
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  color: #255950;
  padding: 1vh 2vw;
}

.inputPanel {
  font-size: 16px;
}

@media screen and (min-width: 500px) {
  .inputPanel {
    font-size: calc(16px + 4 * ((100vw - 500px) / 700));
  }
}

@media screen and (min-width: 1200px) {
  .inputPanel {
    font-size: 20px;
  }
}

.inputPanel h1 {
  padding-bottom: 2px;
  padding-left: 5px;
}

textarea {
  font-family: 'Barlow Condensed';
  font-weight: 300;
  color: #255950;
  resize: none;
  border: 2px solid #255950;
  border-radius: 10px;
  width: 96vw;
  padding: 1% 1%;
  background-color: #FEFAF3;
  outline: none;
}

textarea {
  font-size: 15px;
}

@media screen and (min-width: 500px) {
  textarea {
    font-size: calc(15px + 5 * ((100vw - 500px) / 700));
  }
}

@media screen and (min-width: 1200px) {
  textarea {
    font-size: 20px;
  }
}
