@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;600&display=swap");

@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Futhark';
  src: url('/Futhark.ttf');
}

.rune-font {
  font-family: 'Futhark'
}

@tailwind utilities;
