@font-face {
  font-family: 'futhark';
  src: url(./assets/futhark.ttf);
  font-style: normal;
}

.runeImage {
  font-family: 'futhark';
  font-size: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.runeReversed {
  transform: rotate(180deg);
}

/* Color Theme Swatches in Hex */
/* .Maine-Beach-•-Riverland-Orange-1-hex { color: #F2B705; }
.Maine-Beach-•-Riverland-Orange-2-hex { color: #F29F05; }
.Maine-Beach-•-Riverland-Orange-3-hex { color: #F27405; }
.Maine-Beach-•-Riverland-Orange-4-hex { color: #F25C05; }
.Maine-Beach-•-Riverland-Orange-5-hex { color: #F2F2F2; } */
